<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="//www.aliyun.com/favicon.ico" type="image/x-icon" />
    <!-- <link rel="stylesheet" href="https://g.alicdn.com/code/lib/antd/4.15.2/antd.min.css" /> -->
    <!-- <link rel="stylesheet" href="//dev.g.alicdn.com/csfe/yd-externals/<%= htmlWebpackPlugin.options.appYdExternalsVersion %>/vendor.min.css" /> -->
    <!-- <%= htmlWebpackPlugin.options.style %> -->

    <script>
        <!-- window.MICRO_APP_CONFIG = <%= htmlWebpackPlugin.options.microConfig %>; -->
        <!-- delete window.MICRO_APP_CONFIG.appInstances.root; -->
    </script>
</head>

<body class="micro-app-root">
    <div id="app"></div>

    <!-- <script src="/static/js/sasnext/messages_zh.js"></script>
    <script src="/static/js/wind-v2/messages_zh.js"></script>
    <script src="/static/js/skyComponent/messages_zh.js"></script>
    <script src="//g.alicdn.com/code/lib/echarts/4.1.0/echarts.js"></script>
    <script src="//g.alicdn.com/code/lib/d3/5.9.0/d3.min.js"></script>
    <script src="//g.alicdn.com/code/lib/antv-g2/4.0.12/g2.min.js"></script>
    <script src="//g.alicdn.com/cs70-yundun/yd-ctrl/1.1.11/index.min.js"></script>
    <script src="//dev.g.alicdn.com/csfe/yd-loader/<%= htmlWebpackPlugin.options.comYdLoaderVersion%>/loader.min.js"></script>
    <script src="//dev.g.alicdn.com/csfe/yd-global/<%= htmlWebpackPlugin.options.comYdReactVersion%>/react.min.js"></script>
    <script src="//dev.g.alicdn.com/csfe/yd-global/<%= htmlWebpackPlugin.options.comYdDvaVersion%>/dva.min.js"></script> -->
    <!-- <script src="//dev.g.alicdn.com/csfe/yd-externals/<%= htmlWebpackPlugin.options.appYdExternalsVersion%>/vendor.min.js"></script> -->
    <!-- <%= htmlWebpackPlugin.options.script %> -->

    <!-- <script src="https://g.alicdn.com/code/lib/antd/4.15.2/antd.min.js"></script> -->
    <script src="root.min.js"></script>
</body>

</html>